body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

.App {
    background-image: url('./assets/images/background_space_medium.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.Loren {
    text-align: justify;
    margin: 20px;
    font-size: medium;
    color: rgb(219, 205, 205);
}

.title {
    font-weight: bold;
    text-align: left;
}

.member-icon {
    color: aliceblue;
}

.name-contanier {
    display: flex;
    align-items: center
}

.member-icon {
    display: flex;
    align-items: center;
    font-size: 21px;
}

.member-icon-1icon {
    margin-right: 7px;
}

.home-social-icons {
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: xx-large;
    justify-content: center;
}

.home-social-icon {
    margin-right: 30px;
}